---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
      <h2>👋 ¡Hola!</h2>
      <p>
        Recuerda, cada error es una lección, y cada línea de código cuenta una historia.
        Bienvenido a mi viaje en el mundo del desarrollo web
      </p>
      <a class="start" href="/blog">
        Comienza el Viaje
      </a>
    </main>
    
		<Footer />
	</body>
</html>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2em;
    margin: 3rem auto;
    width: 90%;
    min-height: 20rem;
  }

  @media (min-width: 640px) {
    main {
      text-align: left;
      align-items: flex-start;
      padding: 0;
    }
  }

  .start {
    background-color: #6D28D9; 
    color: white;
    font-weight: 600; 
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.375em; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }

  .start:hover {
    background-color: #4C1D95; 
  }
</style>